@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 0 102px;
}
#landing {
  background-image: url('images/Rectangle\ 24.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
  padding-top: 34px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation ul li {
  list-style-type: none;
  margin-left: 48px;
}
.navigation ul li a {
  color: #07193d;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.navigation ul li .btn-login {
  color: #0b41af;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid rgba(11, 65, 175, 0.1);
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
}
.navigation ul li .btn-signup {
  background-color: #0b41af;
  border-radius: 5px;
  padding: 15px 16px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
