@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: 'Inter', sans-serif;
  /* background-color: #e5e5e5; */
}

a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  padding: 0 100px;
}

.landing_container {
  /* padding: 34px 103px; */
  padding: 2vw 5vw;
  padding-bottom: 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation ul li {
  list-style-type: none;
  margin-left: 48px;
}
.navigation ul li a {
  color: #07193d;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.navigation ul li .btn-login {
  color: #0b41af;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid rgba(11, 65, 175, 0.1);
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
}
.navigation ul li .btn-signup {
  background-color: #0b41af;
  border-radius: 5px;
  padding: 15px 16px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.loan {
  margin-top: 103px;
}
.loan h4 {
  font-weight: 500;
  font-size: 16px;
  color: #0b41af;
  padding: 10px 14px;
  background: rgba(11, 65, 175, 0.05);
  border-radius: 100px;
  width: 312px;
  margin-bottom: 35px;
}
.loan .fa-solid {
  font-size: 10px;
  margin-left: 5px;
}
.loan h1 {
  font-weight: bold;
  font-size: 60px;
  margin: 20px 0;
}
.loan h1 span {
  color: #0b41af;
}
.loan p {
  font-weight: 500;
  font-size: 22px;
  color: #07193d;
  margin: 20px 0;
}
.card {
  margin-top: -172px;
  margin-left: 95px;
  cursor: pointer;
}

/* second section */

.second_container {
  display: flex;
  justify-content: space-around;
}
.second_container .right_section {
  margin-top: 112px;
}
.second_container .right_section h5 {
  color: #0b41af;
  font-weight: 600;
  font-size: 16px;
  margin: 15px 0;
  width: 183px;
}

.second_container .right_section h2 {
  font-weight: bold;
  font-size: 35px;
  color: #07193d;
  margin: 20px 0;
  text-align: justify;
}
.second_container .right_section p {
  font-weight: normal;
  font-size: 18px;
  color: rgba(7, 25, 61, 0.6);
  line-height: 164.02%;
  text-align: justify;
}
/* second section */

/* why choose arthan */
.whyArthan {
  width: 100%;
}
.whyArthan span {
  color: #0b41af;
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
}

.why_desc {
  display: flex;
  align-items: center;
}
.why_desc .why_left {
  flex: 1;
}
.why_desc .why_left h1 {
  font-size: 35px;
  font-weight: bold;
  margin: 15px 0;
  color: #07193d;
}
.why_desc .why_right p {
  font-size: 18px;
  font-weight: normal;
  color: rgba(7, 25, 61, 0.8);
  line-height: 30px;
}
.why_desc_card {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.why_desc_card .desc_card {
  width: 292px;
  height: 211px;
  padding: 30px;
  border-radius: 10px;
}
.why_desc_card .desc_card .top_section {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.why_desc_card .desc_card .top_section p {
  width: 163px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
}
.why_desc_card .desc_card .short_desc {
  margin-top: 20px;
  font-size: 16px;
  line-height: 164.02%;
  color: rgba(7, 25, 61, 0.6);
}
.first_card {
  background-color: #f7f5ff;
}
.second_card {
  background-color: #edfdfa;
}
.third_card {
  background-color: #fff5f4;
}
.fourth_card {
  background-color: #fff4fd;
}
/* why choose arthan */

/* loan approve */
.loan_approve {
  margin-top: 60px;
  height: 596px;
  background: linear-gradient(180deg, #f8f9fc 0%, rgba(248, 249, 252, 0) 100%);
}
.loan_approve .heading {
  padding-top: 65px;
  text-align: center;
}
.loan_approve .heading p {
  color: #0b41af;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin: 15px 0;
}
.loan_approve .heading h1 {
  font-size: 35px;
  font-weight: bold;
  margin: 15px 0;
  line-height: 45px;
}
.desc_approve {
  margin-top: 75px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.desc_approve .cmn {
  position: relative;
}
.desc_approve .fill::before {
  display: block;
  content: '';
  border: 2px solid #0b41af;
  width: 106%;
  position: absolute;
  left: -174px;
  top: 51px;
  border-radius: 100px;
}
.desc_approve .fill::after {
  display: block;
  content: '';
  border: 2px solid #edf3fe;
  width: 154%;
  position: absolute;
  left: 163px;
  top: 51px;
  border-radius: 100px;
}
.desc_approve .two::after {
  display: block;
  content: '';
  border: 2px solid #edf3fe;
  width: 84%;
  position: absolute;
  left: 256px;
  top: 51px;
  border-radius: 100px;
}
.desc_approve .three::after {
  display: block;
  content: '';
  border: 2px solid #edf3fe;
  width: 150%;
  position: absolute;
  left: 155px;
  top: 51px;
  border-radius: 100px;
}
.desc_approve .four::after {
  display: block;
  content: '';
  border: 2px solid #edf3fe;
  width: 74%;
  position: absolute;
  left: 222px;
  top: 51px;
  border-radius: 100px;
}
.desc_approve .fill h3 {
  display: inline-block;
  border: 1px solid #0b41af;
  background-color: #0b41af;
  color: #fff;
  padding: 25px 26px;
  border-radius: 50%;
  text-align: center;
  font-size: 38px;
  line-height: 49px;
}
.desc_approve .dotted h3 {
  border: 2px dashed #0b41af;
  border-style: dashed;
  border-radius: 50%;
  display: inline-block;
  padding: 25px 26px;
  color: #07193d;
  background: #eaf1ff;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
  color: #0b41af;
}
.desc_approve .cmn h1 {
  margin-top: 32px;
  color: #07193d;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}
.desc_approve .cmn p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(7, 25, 61, 0.7);
}
/* loan approve */
