@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.landing_container {
  padding: 34px 103px;
  padding-bottom: 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation ul li {
  list-style-type: none;
  margin-left: 48px;
}
.navigation ul li a {
  color: #07193d;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.navigation ul li .btn-login {
  color: #0b41af;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid rgba(11, 65, 175, 0.1);
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
}
.navigation ul li .btn-signup {
  background-color: #0b41af;
  border-radius: 5px;
  padding: 15px 16px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.loan {
  margin-top: 103px;
}
.loan h4 {
  font-weight: 500;
  font-size: 16px;
  color: #0b41af;
  padding: 10px 14px;
  background: rgba(11, 65, 175, 0.05);
  border-radius: 100px;
  width: 312px;
  margin-bottom: 35px;
}
.loan .fa-solid {
  font-size: 10px;
  margin-left: 5px;
}
.loan h1 {
  font-weight: bold;
  font-size: 60px;
  margin: 20px 0;
}
.loan h1 span {
  color: #0b41af;
}
.loan p {
  font-weight: 500;
  font-size: 22px;
  color: #07193d;
  margin: 20px 0;
}
.card {
  margin-top: -172px;
  margin-left: 85px;
  cursor: pointer;
}

/* second section */

.second_container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 103px;
}
.second_container .right_section {
  margin-top: 112px;
}
.second_container .right_section h5 {
  color: #0b41af;
  font-weight: 600;
  font-size: 16px;
  margin: 15px 0;
  width: 183px;
}

.second_container .right_section h2 {
  font-weight: bold;
  font-size: 35px;
  color: #07193d;
  margin: 20px 0;
  text-align: justify;
}
.second_container .right_section p {
  font-weight: normal;
  font-size: 18px;
  color: rgba(7, 25, 61, 0.6);
  line-height: 164.02%;
  text-align: justify;
}
/* second section */

/* why choose arthan */
/* why choose arthan */
